@import "tailwindcss";

@theme {
    --font-sans: "Inter", system-ui, sans-serif;
}

:root {
    --bg-color: #050505;
    --text-color: #f4f4f5;
    --accent: #eab308;
    /* Default to bold yellow, can be injected */
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-sans);
    overflow-x: hidden;
}

/* Custom Outlined Text Utility */
.border-text {
    color: transparent;
    -webkit-text-stroke: 2px var(--text-color);
}